$ui-play-icon-img: "img/play-icon.svg"
$ui-pause-icon-img: "img/pause-icon.svg"
$ui-mute-icon-img: "img/mute-icon.svg"
$ui-full-icon-img: "img/sound-icon.svg"
$ui-load-icon-img: "img/play-icon.svg"

$ui-color: white
$ui-fade-color: transparentize(#999, .6)

$ui-video-container-bg: black

$ui-sound-bar-bg: transparentize($ui-color, .6)
$ui-sound-bar-fg: transparentize($ui-color, .6)

$ui-progress-bar-bg: transparentize($ui-color, .6)
$ui-progress-bar-fg: transparentize($ui-color, .6)

$ui-timer-color: $ui-color
$ui-timer-strong-color: $ui-color
